In [175]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import KNNImputer

In [177]:
df=pd.read_csv("Copy of Titanic-Dataset.csv")

In [179]:
#UNDERSTANDING MY DATASET 

#head 
print("THE HEAD IS ")
print(df.head())

THE HEAD IS
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  \
0                            Braund, Mr. Owen Harris    male  22.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2                             Heikkinen, Miss. Laina  female  26.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4                           Allen, Mr. William Henry    male  35.0

   Siblings or spouse  Parch            Ticket     Fare Cabin Embarked
0                   1      0         A/5 21171   7.2500   NaN        S
1                   1      0          PC 17599  71.2833   C85        C
2                   0      0  STON/O2. 3101282   7.9250   NaN        S
3                   1      0            113803  53.1000  C123        S
4                   0      0            373450   8.0500   NaN        S

In [181]:
print(df.tail())

     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  Siblings or spouse  Parch      Ticket   Fare Cabin Embarked
886    male  27.0                   0      0      211536  13.00   NaN        S
887  female  19.0                   0      0      112053  30.00   B42        S
888  female   NaN                   1      2  W./C. 6607  23.45   NaN        S
889    male  26.0                   0      0      111369  30.00  C148        C
890    male  32.0                   0      0      370376   7.75   NaN        Q

In [183]:
print(df.describe())

       PassengerId    Survived      Pclass         Age  Siblings or spouse  \
count   891.000000  891.000000  891.000000  714.000000          891.000000
mean    446.000000    0.383838    2.308642   29.699118            0.523008
std     257.353842    0.486592    0.836071   14.526497            1.102743
min       1.000000    0.000000    1.000000    0.420000            0.000000
25%     223.500000    0.000000    2.000000   20.125000            0.000000
50%     446.000000    0.000000    3.000000   28.000000            0.000000
75%     668.500000    1.000000    3.000000   38.000000            1.000000
max     891.000000    1.000000    3.000000   80.000000            8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [185]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PassengerId         891 non-null    int64
 1   Survived            891 non-null    int64
 2   Pclass              891 non-null    int64
 3   Name                891 non-null    object
 4   Sex                 891 non-null    object
 5   Age                 714 non-null    float64
 6   Siblings or spouse  891 non-null    int64
 7   Parch               891 non-null    int64
 8   Ticket              891 non-null    object
 9   Fare                891 non-null    float64
 10  Cabin               204 non-null    object
 11  Embarked            889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [187]:
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age',
       'Siblings or spouse', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [189]:
df["Pclass"].unique()

array([3, 1, 2], dtype=int64)

In [191]:
df["Embarked"].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [212]:
# Calculate mode of 'Embarked'
  # Access the mode value
# Fill NaN values in 'Embarked' column with the mode value without inplace
df["Embarked"] = df["Embarked"].fillna(df["Embarked"].mode())

In [214]:
df.isnull().sum()

PassengerId             0
Survived                0
Pclass                  0
Name                    0
Sex                     0
Age                   177
Siblings or spouse      0
Parch                   0
Ticket                  0
Fare                    0
Cabin                 687
Embarked              891
dtype: int64